name: PIT PR Updater

# read-write repo token
# access to secrets
on:
  workflow_run:
    workflows: ["PIT"]
    types:
      - completed

jobs:
  pitest-update-pr:
    name: Write PIT results as pull request comment
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          check-latest: true
      - name: Download artifact
        uses: dawidd6/action-download-artifact@v3
        with:
          workflow: ${{ github.event.workflow_run.workflow_id }}
          name: pitest
          path: target/pit-reports-ci
          workflow_conclusion: success
      - name: Update pull request
        run: mvn -DrepoToken=${{ secrets.GITHUB_TOKEN }} com.groupcdg:pitest-github-maven-plugin:1.1.4:updatePR
