name: 'PIT'

on:
  pull_request:

jobs:
  coverage:

    runs-on: ubuntu-latest
    name: Create and archive PIT report

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          check-latest: true
          cache: 'maven'
      - name: Set up Maven
        uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.6
      - name: Generate coverage with JaCoCo
        run: mvn -V --color always -ntp clean verify -Ppit '-Dgpg.skip' '-Dfeatures=+GIT(from[HEAD~1]),+gitci'
      - name: Aggregate PIT coverage files
        run: mvn -e -B com.arcmutate:pitest-git-maven-plugin:aggregate
      - name: Upload PIT results as artifact
        uses: actions/upload-artifact@v4
        with:
          name: pitest
          path: target/pit-reports-ci/
