name: 'Quality Monitor Comment PR'

on:
  pull_request:

permissions:
  contents: read
  actions: read
  pull-requests: write
  checks: write

jobs:
  comment:
    runs-on: ubuntu-latest
    name: Comment on PR

    steps:
      - name: Checkout PR
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Install jq and unzip
        run: sudo apt-get update && sudo apt-get install -y jq unzip

      - name: Fetch reports from dependency check and quality monitor workflows
        env:
          REPO: ${{ github.repository }}
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
          TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OTHER_WORKFLOWS: "quality-monitor-build.yml,dependency-check.yml"
          ARTIFACT_NAMES: "quality-reports,dependency-report"
          ALLOWED_EVENTS: "pull_request,pull_request_target"
          RETRIES: 60
          SLEEP_SEC: 10
        run: |
          chmod +x ./.github/scripts/fetch-artifacts.sh
          ./.github/scripts/fetch-artifacts.sh

      - name: List downloaded reports
        run: |
          mkdir -p reports/target
          mv artifacts/*/target/* reports/target
          ls -la reports/target/* || true

      - name: Read Quality Monitor Configuration
        id: quality-monitor
        run: echo "json=$(jq -c . .github/quality-monitor-pr.json)" >> "$GITHUB_OUTPUT"

      - name: Read Quality Gates Configuration
        id: quality-gates
        run: echo "json=$(jq -c . .github/quality-gates-pr.json)" >> "$GITHUB_OUTPUT"

      - name: Run Quality Monitor and Comment on PR
        uses: uhafner/quality-monitor@v4
        with:
          sha: ${{ github.event.pull_request.head.sha }}
          config: ${{ steps.quality-monitor.outputs.json }}
          quality-gates: ${{ steps.quality-gates.outputs.json }}
          pr-number: ${{ github.event.pull_request.number }}
          comments-strategy: REMOVE
          show-headers: true
          title-metric: none
